<div class="row">
    <div class="col-md-12">
        <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Create new account</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <form method="post" id="create-form" action="/account/create">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="hidden" id="domain" name="domain" value="{{values.domain}}">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Account information</h3>
                </div>
                <div class="panel-body">

                    <p>
                        Enter your account details. Account username is allowed to include latin characters only. Activated accounts can add extra identity addresses that may contain unicode characters as well.
                    </p>

                    <div class="row">
                        <div class="col-md-3 col-xs-12">
                            <div class="form-group{{#if errors.firstName}} has-error{{/if}}">
                                <label for="firstName">First name</label>
                                <input type="text" class="form-control" name="firstName" id="firstName" placeholder="eg. &quot;John&quot;" value="{{values.firstName}}" required>
                                {{#if errors.firstName}}
                                    <span class="help-block">{{errors.firstName}}</span>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="form-group{{#if errors.middleName}} has-error{{/if}}">
                                <label for="middleName">Middle name</label>
                                <input type="text" class="form-control" name="middleName" id="middleName" placeholder="eg. &quot;Fitzgerald&quot;" value="{{values.middleName}}">
                                {{#if errors.middleName}}
                                    <span class="help-block">{{errors.middleName}}</span>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group{{#if errors.lastName}} has-error{{/if}}">
                                <label for="lastName">Last name</label>
                                <input type="text" class="form-control" name="lastName" id="lastName" placeholder="eg. &quot;Kennedy&quot;" value="{{values.lastName}}" required>
                                {{#if errors.lastName}}
                                    <span class="help-block">{{errors.lastName}}</span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group{{#if errors.gender}} has-error{{/if}}">
                                <label for="gender">Gender</label><br/>
                                <label class="radio-inline"><input type="radio" name="gender" value="male" checked>Male</label>
                                <label class="radio-inline"><input type="radio" name="gender" value="female">Female</label>
                                {{!-- <input type="text" class="form-control" name="gender" id="gender" placeholder="eg. &quot;Jakarta&quot;" value="{{values.gender}}" required> --}}
                                {{#if errors.gender}}
                                    <span class="help-block">{{errors.gender}}</span>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-7 col-xs-12">
                            <div class="form-group{{#if errors.birthDate}} has-error{{/if}}">
                                <label for="birthDate">Birth Date</label>
                                <input type="text" class="form-control datepicker" data-date-format="yyyy-mm-dd" name="birthDate" id="birthDate" value="{{values.birthDate}}" style="padding: 10px;" required>
                                {{#if errors.birthDate}}
                                    <span class="help-block">{{errors.birthDate}}</span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group{{#if errors.phoneCountryID}} has-error{{/if}}">
                                <label for="phoneCountryID">Phone Number</label>
                               {{!-- <div id="phoneCountryID" class="bfh-selectbox bfh-countries" data-country="ID" data-flags="true" data-name="phoneCountryID"></div> --}}
                                {{!-- <select id="countries_phone1" class="form-control bfh-countries" data-country="US" data-flags="true"></select> --}}
                                <input type="text" class="form-control bfh-phone" data-country="countries_phone1" name="phoneCountryID" id="phoneCountryID" placeholder="&quot;+62&quot;" value="{{values.phoneCountryID}}"  required>
                                {{#if errors.phoneCountryID}}
                                    <span class="help-block">{{errors.phoneCountryID}}</span>
                                {{/if}}
                            </div>
                        </div>
                        {{!-- <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group{{#if errors.phone}} has-error{{/if}}">
                                <label for="phone">Phone Number</label>
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="eg. &quot;0888111222&quot;" value="{{values.phone}}"  required>
                                {{#if errors.phone}}
                                    <span class="help-block">{{errors.phone}}</span>
                                {{/if}}
                            </div>
                        </div> --}}
                    </div>
                            
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group{{#if errors.username}} has-error{{/if}}">
                                <label for="name">Email Address (also the username)</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="username" id="username" placeholder="eg. &quot;username&quot; or &quot;user.name&quot;" value="{{values.username}}" pattern="^[A-Za-z0-9][A-Za-z\-\.0-9]*$" required>

                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @<span class="selected-domain" style="text-transform: lowercase;">{{values.domain}}</span><span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu dropdown-menu-right">
                                              {{#each domains}}
                                                <li><a href="#" class="change-domain-link" data-domain="{{this}}">{{this}}</a></li>
                                              {{/each}}
                                          </ul>
                                     </span>
                                </div>

                                {{#if errors.username}}
                                    <span class="help-block">{{errors.username}}</span>
                                {{else}}
                                    <span class="help-block">Latin letters and numbers only. Dots and dashes are allowed as separators.<span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group{{#if errors.password}} has-error{{/if}}">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="eg. &quot;supersecret&quot;" required>
                                {{#if errors.password}}
                                    <span class="help-block">{{errors.password}}</span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group{{#if errors.password}} has-error{{/if}}">
                                <label for="password2">Repeat password</label>
                                <input type="password" class="form-control" name="password2" id="password2" placeholder="repeat password" required>
                            </div>

                            <div class="form-group{{#if errors.remember}} has-error{{/if}}">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember" required> Agree to <a href="/tos" target="_blank">terms of service</a>
                                        {{#if errors.remember}}
                                            <span class="help-block">{{errors.remember}}</span>
                                        {{/if}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{!-- {{#if recaptcha}}
                            <button
                                class="g-recaptcha btn btn-success"
                                data-sitekey="{{recaptcha}}"
                                data-callback="onCreateSubmit">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Create new account
                            </button>
                        {{else}} --}}
                            {{!-- <button
                                class="btn btn-success"
                                onClick="onCreateSubmit()">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Create new account
                            </button> --}}
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Create new account</button>
                        {{!-- {{/if}} --}}
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>

{{!-- {{#if recaptcha}}
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script>
    function onCreateSubmit(token) {
        document.getElementById("phoneCountryID").value = document.getElementById("phoneCountryIDSelect").value;
        document.getElementById("birthDate").value = document.getElementById("birthDateSelect").value;
        document.getElementById("create-form").submit();
    }
    </script>
{{/if}} --}}

<script>
document.addEventListener('DOMContentLoaded', function() {

    var domainElement = document.getElementById('domain');

    var updateDomain = function(e,elm){
        e.preventDefault();
        var domain = elm.dataset.domain;
        if(domain){
            domainElement.value = domain;
            document.querySelector('.selected-domain').textContent = domain;
        }
    };

    var setupDomainButton = function(elm){
        elm.addEventListener('click', function(e){updateDomain(e,elm)}, false);
        elm.addEventListener('touch', function(e){updateDomain(e,elm)}, false);
    }

    var domainLinks = document.querySelectorAll('.change-domain-link');
    for(var i=0, len = domainLinks.length; i<len; i++){
        setupDomainButton(domainLinks[i]);
    }
}, false);
</script>
